<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
    </title>
    <link rel="stylesheet" href="inserisci_ape.css">
    <script src="inserisci_ape.js"></script>
</head>

<body>
    <form action="/inserisci_img_ape" method="POST">
        <input type="file" multiple>
        <p>Drag your files here or click in this area.</p>
        <button type="submit">Upload</button>
    </form>
</body>

</html>